<dl>
    {% for entity in entities %}
    <dt>
        <a href="{{ path('ranking_list', { 'categoryid': entity.id }) }}">{{ entity.name }}</a>
    </dt>
    <dd>
        {{ entity.description }}
    </dd>
    {% endfor %}
</dl>