{% extends '::ranking.base.html.twig' %}

{% block body %}
<h1>{{ 'admin.challenge.all.open.challenges.header'|trans }}</h1>
<p>
{{ 'admin.challenge.all.open.challenges.body'|trans }}
</p>
<table id="js_challenges_admin_table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Udfordrer</th>
            <th>Modstander</th>
            <th>Dato for udfordring</th>
            <th>Afviklet</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4" class="dataTables_empty">Henter udfordringer</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Udfordrer</th>
            <th>Modstander</th>
            <th>Dato for udfordring</th>
            <th>Afviklet</th>
        </tr>
    </tfoot>
</table>
{% endblock %}

{% block javascript %}
    jQuery(document).ready(function() {
        jQuery('#js_challenges_admin_table').dataTable({
            'bProcessing': true,
            'bServerSide': true,
            'sDom': '<"top"i>rt<"bottom"flp><"clear">',
            'sPaginationType': 'bootstrap',
            'sAjaxSource': '{{ path('challenge_admin_paging') }}',
            'oLanguage': language,
            'bFilter': false
        });
    });
{% endblock %}