{% extends '::base.html.twig' %}

{% block navigation %}
    {% include '::navigation.base.html.twig' %}
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="span12">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block teasers %}{% endblock %}
    </div> <!-- /container -->
{% endblock %}

