{% extends '::ranking.base.html.twig' %}

{% block body %}
<h1>Alle spillede kampe</h1>
<p>
Herunder kan du se alle spillede kampe med resultater.
</p>
<table id="js_games_table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Udfordrer</th>
            <th>Modstander</th>
            <th>Klub</th>
            <th>Rangliste</th>
            <th class="hidden-phone">Kampresume</th>
            <th class="hidden-phone">Kampdato</th>
            <th>Resultat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5" class="dataTables_empty">Henter kampe</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Udfordrer</th>
            <th>Modstander</th>
            <th>Klub</th>
            <th>Rangliste</th>
            <th class="hidden-phone">Kampresume</th>
            <th class="hidden-phone">Kampdato</th>
            <th>Resultat</th>
        </tr>
    </tfoot>
</table>

{% endblock %}

{% block javascript %}
    jQuery(document).ready(function() {
        jQuery('#js_games_table').dataTable({
            'bProcessing': true,
            'bServerSide': true,
            'sDom': '<"top"i>rt<"bottom"flp><"clear">',
            'sPaginationType': 'bootstrap',
            'sAjaxSource': '{{ path('game_paging') }}',
            'oLanguage': language,
            'bFilter': false,
            'aoColumns': [
                { 'sClass': '' },
                { 'sClass': '' },
                { 'sClass': '' },
                { 'sClass': '' },
                { 'sClass': 'hidden-phone' },
                { 'sClass': 'hidden-phone' },
                { 'sClass': '' }
            ]
        });
    });
{% endblock %}