{% extends '::ranking.base.html.twig' %}

{% block body %}
<h1>Alle spillere</h1>

<ul>
    {% for entry in data %}
    <li>{{ entry['category'] }}</li>
    <ul>
        {% for ranking in entry['rankings'] %}
        <li>
            <a href="{{ path('user_show', { 'id': ranking.getPlayer.getId, 'categoryid': entry['category'].getId }) }}">
                Se {{ ranking.getPlayer }}s udfordringer
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
{% endblock %}